# Node
node_modules
.next
out

# System
.DS_Store

# Env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prettier
.prettierrc

# Editors
.editorconfig
.vscode
.qodo

# Database
db.json

# Jest
__tests__
jest.*

# Others
.env
.env.test 
.notes*
.plans
.eslintrc*
.cspell

next.config.json
jsconfig.json
vercel.json
GEMINI.md